@tailwind base;
@tailwind components;
@tailwind utilities;

/* MontSerrat */
/* OpenSans */
@font-face {
  font-family: Montserrat;
  src: url("../components/ResumePreview/assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

/* OpenSans */
@font-face {
  font-family: OpenSans;
  src: url("../components/ResumePreview/assets/fonts/OpenSans/OpenSans-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: dashed 1px rgba(0, 0, 0, 0.1);
}

img {
  margin: 0;
  padding: 0;
}
